.newsitem {
	width: 20vw;
	height: 20vw;
	min-width: 275px;
	min-height: 275px;
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 5px;
	padding: 16px;
	box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);

	h3 {
		margin: 0;
		margin-bottom: 16px;
	}

	.image {
		display: block;
		width: 100%;
		height: auto;
		max-height: 60%;
		max-width: 100%;
		width: auto;
		margin: auto;
	}
}
