.content {
	margin-top: 130px;
	display: grid;
	width: 100%;
	justify-content: center;
	align-items: center;

	.articleContent {
		width: 50%;
		height: auto;
		margin: auto;

		img {
			width: 100%;
		}
	}
}
