$headercolor: rgba(30, 61, 79, 1);
$textcolor: white;

.header {
	background-color: $headercolor;
	color: $textcolor;
	position: fixed;
	top: 0;
	left: 0;
	height: 75px;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;

	.goBack,
	p,
	.navigateToUrl {
		text-decoration: none;
		height: 100%;
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		i {
			color: $textcolor;
		}
	}
	p {
		cursor: auto;
	}
}
