.wrapper {
	width: 80%;
	margin: auto;
	margin-top: 128px;
	display: grid;
	align-items: center;
	justify-content: center;
}

.newslist {
	width: 100%;
	top: 125px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 16px;
	row-gap: 16px;
}
